<h1><%= "#{@passenger.name}'s Trips List"%></h1>
<table>
<tr>
  <th>#</th>
  <th>Date</th>
  <th>Driver</th>
  <th>Passenger</th>
  <th>Cost</th>
  <th>Rating</th>
</tr>
<% @trips.each do |trip| %>
<tr>
  <td><%= trip.id %></td>
  <td><%= link_to trip.date, trip_path(trip.id) %></td>
  <td><%= trip.driver.name %></td>
  <td><%= trip.passenger.name %></td>
  <td><%= number_to_currency(trip.cost.to_f/100) %></td>
  <td><%= trip.rating %></td>
    <% end %>
</tr>
<table>
