<h2>New trip</h2>
<% trip = @trip %>
<p>Trip date: <%= trip.date %></p>
<p>Driver: <%= trip.driver.name %></p>
<p>Passenger: <%= trip.passenger.name %></p>
<% cost = trip.cost %>
<p>Trip cost: <%= number_to_currency(trip.cost.to_f/100) %></p>
<%= button_to "Create this trip", passenger_trips_path, params: 
{:trip => {:driver_id => trip.driver_id, :passenger_id => trip.passenger_id, :cost => trip.cost, :date => trip.date}} %>