<header class="show-passenger">
  <h2>Passenger: <%= @passenger.name %></h2>
</header>

<main>
  <section class="passenger-details">
    <p>Phone Number: <%= @passenger.phone_num %></p>
    <p>Total Charges: $<%= @passenger.total_paid %></p>
  </section>

  <section class="buttons">
    <p><%= link_to "Edit Passenger", edit_passenger_path %></p>
    <p><%= link_to "Delete Passenger", passenger_path(@passenger), method: :delete, data: {confirm: "Are you sure?"}%></p>
    <p><%= link_to "Create A New Trip", passenger_trips_path(@passenger.id), method: :post %></p>  
  </section>

<section>
  <table class=passenger-heading>
    <tr>
      <h2>Trips List</h2>
        <th>Trip #</th>
        <th>Date</th>
        <th>Driver Name</th>
        <th>Rating</th>
        <th>Trip Cost $</th>
      </tr>

  <% @passenger.trips.each do |trip| %>
  <tr>
    <td><%= trip.id %></td>
    <td><%= link_to trip.date, trip_path(trip.id) %></td>
    <td> <%= trip.driver.name %></td>
    <td><%= trip.rating %></td>
    <td><%= trip.cost%></td>
  </tr>
  </table>
    <li><%= link_to "Edit Trip Rating", edit_trip_path(trip.id) %></li>
    <li><%= link_to "Delete Trip", trip_path(trip.id), method: :delete, data: {confirm: "Are you sure?"}%></li>
  <% end %>
</section>
<% if @passenger %>
  <p><%= link_to "Create a new trip for this passenger", new_passenger_trip_path(@passenger) %></p>
<% end %>
</main>
