<main>
<h1>Passenger: <%= @passenger.name %></h1>
<p>Phone Number: <%= @passenger.phone_num %></p>
<p>Total Charges: $<%= @passenger.total_paid %></p>
<p><%= link_to "Edit Passenger", edit_passenger_path %></p>
<p><%= link_to "Delete Passenger", passenger_path(@passenger), method: :delete, data: {confirm: "Are you sure?"}%></p>


<body>
  <% @passenger.trips.each do |trip| %>
  <div>Trip ID: <%= trip.id %></div>
  <%# <div> <%= link_to trip.id, trip_path(trip.id) %></div> 
  <div>Trip Date: <%= trip.date %></div>
  <div>Driver: <%= trip.driver.name %></div>
  <div>Trip Rating: <%= trip.rating %></div>
  <div>Trip Cost: $<%= trip.cost%></div>
  <div><%= link_to "Edit Trip Rating", edit_trip_path(trip.id) %></div>
  <div><%= link_to "Delete Trip", trip_path(trip.id), method: :delete, data: {confirm: "Are you sure?"}%></div>
  <div><%= link_to "Create a New Trip", new_trip_path(@passenger.id), method: :delete %> </div.>
  <% end %>
  </div>
  
</body>
</main>