<h2>Create New Driver Account</h2>
<%= form_with model: @driver, class: 'create-driver' do |f| %>
  <p>Please provide the following information to create a new driver account:</p>
<div>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :vin %>
  <%= f.text_field :vin %>
  <%= f.submit "Create New Driver", class: "save-button" %>
</div>
<% end %>