<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


 <body>
    <nav>
      <ul>
        <li>
          <%= link_to "Home", root_path%>
        </li>
        <li>
          <%= link_to "Drivers", drivers_path %>
        </li>
        <li>
          <%= link_to "Passengers", passengers_path %>
        </li>
        <li>
          <%= link_to "Add a Driver", new_driver_path %>
        </li>
        <li>
          <%= link_to "Add a Passenger", new_passenger_path %>
        </li>
      </ul>
    </nav>

  <section>
  <%# <img src="...images/red_car.png" width= "500" height="333"> %>
 
  </section>


    <%= yield %>
    <footer>
      <p>©2020 Olga && Lola</p>
    </footer>
  </body>
</html>

